<h1>Annual change</h1>
<section class="insert">
    <h3>Insert Data</h3>
    <form action="/insert" method="post">
        <div class="input">
            <label for="country">Country</label>
            <input type="text" id="country" name="country">
        </div>
        <div class="input">
            <label for="precipitation">Precipitation</label>
            <input type="text" id="precipitation" name="precipitation">
        </div>
        <div class="input">
            <label for="temperature">Temperature</label>
            <input type="text" id="temperature" name="temperature">
        </div>
        <button type="submit">INSERT</button>
    </form>
</section>
<section class="get">
    <h3>Get Data</h3>
    <a href="/get-data">LOAD DATA</a>
    <div>
        {{# each items }}
            <article class="item">
                <div>Country: {{ this.country }}</div>
                <div>Precipitation: {{ this.precipitation }}</div>
                <div>Temperature: {{ this.temperature }}</div>
                <div>ID: {{ this._id }}</div>
            </article>
        {{/each}}
    </div>
</section>
<section class="update">
    <h3>Update Data</h3>
    <form action="/update" method="post">
        <div class="input">
            <label for="id">ID</label>
            <input type="text" id="id" name="id">
        </div>
        <div class="input">
            <label for="country">Country</label>
            <input type="text" id="country" name="country">
        </div>
        <div class="input">
            <label for="precipitation">Precipitation</label>
            <input type="text" id="precipitation" name="precipitation">
        </div>
        <div class="input">
            <label for="temperature">Temperature</label>
            <input type="text" id="temperature" name="temperature">
        </div>
        <button type="submit">UPDATE</button>
    </form>
</section>
</section>
<section class="delete">
    <h3>Delete Data</h3>
    <form action="/delete" method="post">
        <div class="input">
            <label for="id">ID</label>
            <input type="text" id="id" name="id">
        </div>
        <button type="submit">DELETE</button>
    </form>
</section>

